#language-suggestion {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.ls-wrapper {
  padding: 15px;
  border: 1px solid #c3c3c3;
  background-color: #fff;
  -webkit-box-shadow: 6px 8px 9px -10px black;
  -moz-box-shadow: 6px 8px 9px -10px black;
  box-shadow: 6px 8px 9px -10px black;
}

.ls-wrapper .ls-message,
.ls-wrapper a {
  font-size: 14px;
}

.ls-goto {
  float: right;
}

.ls-dismiss {
  float: left;
}
